a {
    text-decoration: none;
}

a:hover {
    border-bottom:1px green solid;
}

.header {
    text-align:center;
}

.headerTitle {
    margin-top:0;
}

.eventInfo  {
    max-width: 80%;
    margin:0 auto;
}

.eventInfoTop {
    margin-bottom: 0;
}

.eventInfoBottom {
    margin-top: 0;
}

.menu {
    width:auto;
}

.menuItem{
    display: flex;
    flex-direction: row;
}
.menuItem > *{
    width: calc(100% / 6);
    text-align: center;
    border:1px solid black;
    border-width:0 1px 0 0;
}

.menuItem > *:first-child{
    border-width:0 1px 0 1px;
}

.border {
    height:200px;
    width:auto;
}

.borderLeft {
    display: inline-block;
    width:50%;
    height:200px;
    border-right:1px solid black;
}

.contentTitle{
    display: inline-block;
    width:600px;
    font-family: Milloyste, irohamaru-Regular;
    text-align: center;
}

@font-face{
    font-family: 'irohamaru-Regular';
    src:url('../font/irohamaru-Regular.woff') format('woff');
}

.content{
    display: inline-block;
    font-family: 'irohamaru-Regular';
}

.day{
    display: inline-block;
    width:600px;
}

.dayTitle{
    border:2px solid red;
    border-width:0 0 2px 0;
}

.test{
    font-family: 'Courier New', Courier, monospace;
}
