/*--------------------------------------------------------------------
 Common
----------------------------------------------------------------------*/

@font-face{
    font-family: 'irohamaru-Regular';
    src:url('../font/irohamaru-Regular.woff') format('woff');
}
@font-face{
    font-family: 'Milloyste';
    src:url('../font/Milloyste\ Font\ by\ Keithzo\ \(7NTypes\).woff') format('woff');
}
body {
    font-family: Milloyste, irohamaru-Regular;
    font-size: 14px;
    color: #333333;
    letter-spacing: 1px;
}
a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    line-height: 2;
    color: #ED635E;
}
a:visited {
    color: #ED635E;
}
.menu a:hover {
    border-bottom:1px #ED635E solid;
}
.menu a::after {
    position: absolute;
    bottom: .3em;
    transition: .3s;
}
.dn {
	display: none !important;
}

/*--------------------------------------------------------------------
 loading
----------------------------------------------------------------------*/
.loadingBeforeWrap,
.loadingAfterWrap {
	height:  100%;
	width: 100%;
	display:  flex;
	justify-content:  center;
	align-items:  center;
}
.loadingContentWrap {
	text-align:  center;
}
.loadingContentWrap > img{
	width: 80%;
	height:  80%;
}
.loadingAfterWrap > img {
	width: 85%;
    height: auto;
}
.loadingBarWrap {
  width: 100%;
  max-width: 300px;
  margin: 20px auto 0;
  border: 1px solid #333333;
  border-radius:  30px;
}
.loadingBar {
  height: 20px;
  max-width: 300px;
  margin: 0 auto;
  position: relative;
}
.loadingBar::before {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  height: 20px;
  top: 0;
  z-index: -2;
  background: #ecf0f1;
  border-radius: 30px;
}
.loadingBar::after {
  content: '';
  background: #ED635E;
  height: 20px;
  transition: 0.2s;
  display: block;
  width: 100%;
  animation: loadingBar-after 1 1s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 30px;
}
@keyframes loadingBar-after {
  0%{
    width: 0px;
  }
  100%{
    width: 100%;
  }
}
.buruburu {
    display: inline-block;
    animation: hurueru .1s  infinite;
}

@keyframes hurueru {
    0% {transform: translate(0px, 0px) rotateZ(0deg)}
    25% {transform: translate(2px, 2px) rotateZ(1deg)}
    50% {transform: translate(0px, 2px) rotateZ(0deg)}
    75% {transform: translate(2px, 0px) rotateZ(-1deg)}
    100% {transform: translate(0px, 0px) rotateZ(0deg)}
}

/*--------------------------------------------------------------------
 PC style
----------------------------------------------------------------------*/
.header {
	margin-bottom: 20px;
}
.logo {
    text-align:center;
}
.logo > img {
    width: 100%;
    max-width: 540px;
}
.keyVisualImg {
    margin-top: 15px;
    text-align:center;
}
.keyVisualImg > img {
    height: 100%;
	width: 100%;
	max-width: 412px;
    max-height: 370px;
}
.eventInfoWrap  {
    max-width: 80vw;
    margin: 25px auto 0;
}
.eventInfoTop {
    padding-left: 14px;
    font-size: 26px;
    letter-spacing: 4px;
}
.eventInfoTopBrackets {
    font-size: 14px;
}
.eventPlace {
	padding-left: 15px;
	font-size: 20px;
	letter-spacing: 1px;
}
.eventInfoBottom {
	padding: 5px 0 0 14px;
	font-size: 18px;
	border-top: solid 1px #333333;
}
.meetingTime {
	padding-left: 15px;
	font-size: 20px;
	letter-spacing: 2px;
}

.menu {
    width:90vw;
    margin:0 auto;
}

.menuItem{
    display: flex;
    flex-direction: row;
}
.menuItem > *{
    width: calc(100% / 6);
    text-align: center;
    border:1px solid black;
    border-width:0 1px 0 0;
}

.menuItem > *:first-child{
    border-width:0 1px 0 1px;
}

.border {
	width: 1px;
	height: 100px;
	margin: 30px auto 40px;
	border-left: solid 1px #333333;
}

.contentWrap {
    display:flex;
    width:80vw;
    margin: 50px auto 80px;
    align-items:  center;
}
.contentTitle{
    width:20%;
    text-align: center;    
    font-size: 25px;
    letter-spacing: 1px;
}
.content {
    width:80%;
    font-family: irohamaru-Regular;
}
.content > iframe {
	width: 100%;
	text-align: center;
}


.contentDescription {
    margin-bottom: 30px;
}

.toDoOnCamp {
    margin-left:20px;
}

.toDoOnCamp > li {
    margin-top:20px;
}

.scheduleWrap{
    display:flex;
	justify-content: space-around;
	padding-left: 30px;
}
.date {
    border-bottom: solid 3px #ED635E;
    /* line-height: 1.5; */
}
.schedule {
	padding-top: 10px;
	line-height:  2;
}
.belongingsText {
    width: 100%;
	padding: 0 0 10px 10px;
}
.belongingsWrap {
    position: relative;
    display:flex;
    flex-wrap: wrap;
	width: 500px;
	padding-left: 10px;
}
.belongings {
    width:150px;
    padding-bottom: 7px;
}

.belongingsWrap li {
    display: list-item;
    text-align: -webkit-match-parent;
}

#ok {
    position: absolute;
    top: 0px;
    left: 200px;
}
.accordion {
    display:none;
}
.faqWrap {
    overflow: hidden;
}
.question {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: #333333 1px solid;
    cursor: pointer;
}
.question::after {
  content: "â¯";
  text-align: center;
  transition: all 0.35s;
}
.answer {
  max-height: 0;
  transition: all 0.35s;
}
.accordion:checked + .question::after {
  transform: rotate(90deg);
}
.accordion:checked ~ .answer {
  max-height: 100vh;
  padding: 15px 10px 30px 10px;
}
.pageTop{
  position: fixed;
  bottom: 30px;
  right: 55px;
}
.pageTop > a {
    display: block;
    background-image: url(./images/jump-chojugiga.png);
    width: 60px;
    height: 70px;
    position:  absolute;
	right: -40px;
	bottom: 43px;
}
#page_top{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 50px;
    bottom: 100px;
  }
  #page_top a{
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    text-decoration: none;
  }

/*--------------------------------------------------------------------
 SP style
----------------------------------------------------------------------*/

@media screen and (max-width:650px) {
    body {
		font-size: 10px;
    }
    .logo > img,
	.keyVisualImg > img {
		width: 80vw;
	}
    .eventInfoTop {
        font-size:12px
    }
    .eventInfoTopBrackets {
        font-size:8px;
    }
    .eventPlace {
		font-size: 12px;
    }
    .meetingTime {
		font-size: 10px;
    }
    .menu img {
        height: 8px;
		width: auto;
    }
    .border {
		height: 40px;
		margin: 30px auto;
	}
    .contentWrap {
        display: block;
        width: 90vw;
		margin: 20px auto 20px;
    }
    .contentTitle {
		width: 100%;
    }
    .content {
		width: 100%;
		margin-top: 15px;
    }
    .content iframe {
        height:50%;
    }
    .belongingsWrap {
		width: 100%;
		/* display: flex; */
		padding-left: 0;
		margin: 0 auto;
	}
	.belongings {
		width: 100px;
    }
    .scheduleWrap{
        padding-left: 0px;
    }
    .contentDescription {
		margin-bottom: 15px;
	}
}
@media screen and (max-width: 370px) {
	.scheduleWrap {
		display: block;
	}
	.scheduleWrap > dl:first-child {
		margin-bottom: 15px;
	}
}


