.left {
  -webkit-animation: left .5s ease-out .3s 1 normal forwards;
  animation: left .5s ease .3s 1 normal forwards;
  opacity: 0;
}

@keyframes left {
  0% {
    -webkit-transform: translateX(-20%);
    transform: translateX(-20%);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    opacity: 1;
  }
}

.memoryWrap {
  display: block!important;
}

.memoryWrap>.contentTitle {
  margin: 20px auto;
  width: 50%;
}

.modalOpen, .modalClose>a {
  color: #333333;
  transition: .3s;
}

.modalOpen:hover, .modalClose>a:hover {
  font-size: 30px;
  color: #ED635E;
}

.modalOpen:hover::after, .modalClose>a:hover::after {
  opacity: 0;
}

.modalWrap {
  position: relative;
  margin: 0 auto;
  display: none;
  width:80vw;
  height: auto;
  z-index: 10;
}

.modalClose {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  z-index: 12;
}

.modalContent {
  position: relative;
  z-index: 11;
  width: 100%;
  margin: 0 auto;
}

.tabWrap {
  width: 100%;
  height:100px;
  position: flex;
  border-top: 3px solid #ED635E;
  margin: 0 auto;
  font-size: 20px;
  
}

.tab {
  color: #333;
  float: left;
  margin: 0 10px 10px 0;
  padding: 10px 20px;
  border: 1px solid #ED635E;
  cursor: pointer;
  transition: .3s;
}

.tab.active {
  color: #fff;
  background: #ED635E;
  cursor: auto;
}

.areaWrap {
  width: 100%;
  margin: 0px auto;
}

.area {
  width:100%;
  height:auto;
  text-align:center;
  display: none;
  margin:0 auto;  
}

.area>img {
  width: 400px;
  height: auto;
}

.area.show {
  display: block;
}


/*--------------------------------------------------------------------
 Common
----------------------------------------------------------------------*/

@font-face {
  font-family: 'irohamaru-Regular';
  src: url('../font/irohamaru-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Milloyste';
  src: url('../font/Milloyste\ Font\ by\ Keithzo\ \(7NTypes\).woff') format('woff');
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  font-family: Milloyste, irohamaru-Regular;
  font-size: 14px;
  color: #333333;
  letter-spacing: 1px;
}

a {
  position: relative;
  display: inline-block;
  transition: .3s;
  text-decoration: none;
  line-height: 2;
  color: #ED635E;
}

a:visited {
  color: #ED635E;
}

a::after {
  position: absolute;
  bottom: .3em;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background-color: #ED635E;
  opacity: 0;
  transition: .3s;
}

a:hover::after {
  bottom: -5px;
  opacity: 1;
}

.dn {
  display: none !important;
}

/*--------------------------------------------------------------------
 loading
----------------------------------------------------------------------*/

.loadingBeforeWrap, .loadingAfterWrap {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingContentWrap {
  text-align: center;
}

.loadingContentWrap>img {
  width: 80%;
  height: 80%;
}

.loadingAfterWrap>img {
  width: 85%;
  height: auto;
}

.loadingBarWrap {
  width: 100%;
  max-width: 300px;
  margin: 20px auto 0;
  border: 1px solid #333333;
  border-radius: 30px;
}

.loadingBar {
  height: 20px;
  max-width: 300px;
  margin: 0 auto;
  position: relative;
}

.loadingBar::before {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  height: 20px;
  top: 0;
  z-index: -2;
  background: #ecf0f1;
  border-radius: 30px;
}

.loadingBar::after {
  content: '';
  background: #ED635E;
  height: 20px;
  transition: 0.2s;
  display: block;
  width: 100%;
  animation: loadingBar-after 1 1s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 30px;
}

@keyframes loadingBar-after {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}

.buruburu {
  display: inline-block;
  animation: hurueru .1s infinite;
}

@keyframes hurueru {
  0% {
    transform: translate(0px, 0px) rotateZ(0deg)
  }
  25% {
    transform: translate(2px, 2px) rotateZ(1deg)
  }
  50% {
    transform: translate(0px, 2px) rotateZ(0deg)
  }
  75% {
    transform: translate(2px, 0px) rotateZ(-1deg)
  }
  100% {
    transform: translate(0px, 0px) rotateZ(0deg)
  }
}

.yurayura {
  animation: yureru 1s ease-in-out infinite alternate;
}

@keyframes yureru {
  0% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}


/*--------------------------------------------------------------------
 PC style
----------------------------------------------------------------------*/

.wrap {
  margin: 20px 0 10px;
  animation: fadeIn 2s ease 0s 1 normal;
}

@keyframes fadeIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

.header {
  margin-bottom: 20px;
}

.logo {
  text-align: center;
}

.logo>img {
  width: 100%;
  max-width: 540px;
}

.keyVisualImg {
  margin-top: 15px;
  text-align: center;
}

.keyVisualImg>img {
  height: 100%;
  width: 100%;
  max-width: 412px;
  max-height: 370px;
}

.eventInfoWrap {
  max-width: 80vw;
  margin: 25px auto 0;
}

.eventInfoTop {
  padding-left: 14px;
  font-size: 26px;
  letter-spacing: 4px;
}

.eventInfoTopBrackets {
  font-size: 14px;
}

.eventPlace {
  padding-left: 15px;
  font-size: 20px;
  letter-spacing: 1px;
}

.eventInfoBottom {
  padding: 5px 0 0 14px;
  font-size: 18px;
  border-top: solid 1px #333333;
}

.meetingTime {
  padding-left: 15px;
  font-size: 20px;
  letter-spacing: 2px;
}

.menu {
  display: flex;
  width: 90vw;
  margin: 0 auto;
  justify-content: space-between;
}

.menu>li {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-right: solid 1px #333333;
}

.menu>li:first-child {
  border-left: solid 1px #333333;
}

.menu>li>a, .menu>li>a>img {
  display: block;
}

.border {
  width: 1px;
  height: 100px;
  margin: 30px auto 40px;
  border-left: solid 1px #333333;
}

.contentWrap {
  display: flex;
  width: 80vw;
  margin: 50px auto 80px;
  align-items: center;
}

.contentTitle {
  width: 20%;
  text-align: center;
  font-size: 25px;
  letter-spacing: 1px;
  opacity: 1;
}

.content {
  width: 80%;
  font-family: irohamaru-Regular;
}

.contentDescription {
  margin-bottom: 30px;
}

.toDoOnCamp {
  margin-left: 20px;
}

.toDoOnCamp>li {
  line-height: 2;
  margin-top: 10px;
}

.contentDescription>a:hover::after {
  opacity: 0;
}

.toDoOnCamp>p a:hover::after {
  opacity: 0;
}

.scheduleWrap {
  display: flex;
  justify-content: space-around;
  padding-left: 30px;
}

.date {
  border-bottom: solid 3px #ED635E;
  line-height: 1.5;
}

.schedule {
  padding-top: 10px;
  line-height: 2;
}

.belongingsText {
  width: 100%;
  padding: 0 0 10px 10px;
}

.belongingsWrap {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  padding-left: 10px;
}

.belongings {
  width: 150px;
  padding-bottom: 7px;
}

#ok {
  position: absolute;
  left: 25%;
  top: -16px;
}

.checkBelongings {
  display: none;
}

.labelBelongings {
  padding-left: 20px;
  position: relative;
  margin-right: 20px;
}

.labelBelongings::before {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #333333;
  border-radius: 4px;
}

.checkBelongings:checked+.labelBelongings::after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 4px;
  width: 7px;
  height: 13px;
  transform: rotate(40deg);
  border-bottom: 3px solid #ED635E;
  border-right: 3px solid #ED635E;
}

.content>iframe {
  width: 100%;
  text-align: center;
}

.faqWrap {
  overflow: hidden;
}

.accordion {
  display: none;
}

.question {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: #333333 1px solid;
  cursor: pointer;
}

.question::after {
  content: "â¯";
  text-align: center;
  transition: all 0.35s;
}

.answer {
  max-height: 0;
  transition: all 0.35s;
}

.accordion:checked+.question::after {
  transform: rotate(90deg);
}

.accordion:checked~.answer {
  max-height: 100vh;
  padding: 15px 10px 30px 10px;
}

#page_top {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 50px;
  bottom: 100px;
}

#page_top a {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
}

#page_top a:hover::after {
  opacity: 0;
}


/*--------------------------------------------------------------------
 SP style
----------------------------------------------------------------------*/

@media screen and (max-width: 650px) {
  body {
    font-size: 10px;
  }
  #page_top>a {
    display: none;
  }
  .logo>img, .keyVisualImg>img {
    width: 80vw;
  }
  .eventInfoWrap {
    width: 90vw;
  }
  .eventDate {
    font-size: 12px;
  }
  .eventDateBrackets {
    font-size: 8px;
  }
  .eventPlace {
    font-size: 12px;
  }
  .eventInfoTop {
    padding-left: 5px;
  }
  .eventInfoBottom {
    padding-left: 5px;
    font-size: 12px;
  }
  .meetingTime {
    font-size: 10px;
  }
  .menu {
    width: 90vw;
  }
  .menu>li>a>img {
    height: 8px;
    width: auto;
  }
  .menu>li>a:hover>img {
    height: 10px;
    width: auto;
  }
  .contentWrap {
    display: block;
    width: 90vw;
    margin: 20px auto 20px;
  }
  .border {
    height: 40px;
    margin: 30px auto;
  }
  .contentTitle {
    width: 100%;
  }
  .content {
    width: 100%;
    margin-top: 15px;
  }
  .content>iframe {
    height: 50%;
  }
  .belongingsWrap {
    width: 100%;
    display: flex;
    width: 100%;
    padding-left: 0;
    margin: 0 auto;
  }
  .belongings {
    width: 100px;
  }
  .scheduleWrap {
    padding-left: 0;
    justify-content: space-around;
  }
  .contentDescription {
    margin-bottom: 15px;
  }
  .toDoOnCamp>dd {
    padding-left: 10px;
  }
  .accordion:checked~.answer {
    max-height: 100vh;
    padding: 10px 10px 15px 10px;
  }
  .area>img {
    width: 200px;
  }
}

@media screen and (max-width: 370px) {
  .scheduleWrap {
    display: block;
  }
  .scheduleWrap>dl:first-child {
    margin-bottom: 15px;
  }
}