.header {
    text-align:center;
}

.headerTitle {
    margin-top:0;
}

.scheduleAndMeeting  {
    max-width: 80%;
    margin:0 auto;
}

.schedule {
    margin-bottom: 0;
}

.meeting {
    margin-top: 0;
}

.contentList {
    max-width: 95%;
    text-align: center;
}

.content li {
    width:250px;
    border:1px solid black;
    border-width:0 1px 0 0;
    display: inline-block;
    text-align: center;
    font-size:16px;
  }

.content li:first-child{
    border-width:0 1px 0 1px;
  }

.contentTitle{
    display: inline-block;
    width:400px;
    text-align: center;
}

.detail{
    display: inline-block;
}

.day1{
    display: inline-block;
}

.day2{
    display: inline-block;
}

